# Node modules
node_modules

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Environment variables
.env

# Build artifacts
dist/
build/

# Directory for static files
public/

# Test coverage reports
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE specific files
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
